@use "../base/variables" as v;
@use "../base/mixins" as m;

.data {
    margin: 0 auto;
    max-width: 100rem;
    width: 90%;

    background-color: v.$white;
    border-radius: 2rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    bottom: -3rem;
    z-index: 1;

    @include m.tablet {
        flex-direction: row;
    }
}

.data-box {
    h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        color: v.$dark_gray;
    }

    p {
        margin: 1rem 0;
        font-weight: 700;
        font-size: 2.4rem;
    }

    @include m.tablet {
        border-right: 2px solid v.$dark_gray;
        padding-right: 4rem;

        &:last-of-type {
            border: none;
            padding: 0;
        }
    }
}
