@use "../base/variables" as v;
@use "../base/mixins" as m;

.main {
    position: relative;
    padding-top: 5rem;

    background-image: url("/src/img/pattern-bg.png");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;

    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.75);
}

.title {
    margin: 2rem 0;
    color: v.$white;
    font-weight: 500;
}
