@use "../base/variables" as v;
@use "../base/mixins" as m;

.search {
    max-width: 50rem;
    width: 90%;
    background-color: v.$very_dark_gray;
    border-radius: 1.5rem;
    overflow: hidden;

    display: flex;

    input {
        flex: 1;
        padding: 2rem;
        border: none;

        &:focus {
            outline: none;
        }
    }
    button {
        max-width: 5rem;
        width: 20%;
        background-color: v.$very_dark_gray;
        border: none;

        img {
            display: block;
            margin: auto auto;
            width: 1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
