@use "variables" as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$primary_font;
    font-size: 1.8rem;
    color: v.$very_dark_gray;
}

html,
body,
#root {
    height: 100%;
}

// #root {
//     overflow: hidden;
// }
