// Tipografia
$primary_font: "Rubik", sans-serif;

// Colores
$dark_gray: hsl(0, 0%, 59%);
$very_dark_gray: hsl(0, 0%, 17%);
$black: #000;
$white: #fff;

//Tamaños de Media Queries
$tablet: 768px;
$desktop: 1440px;
